<%- include("partials/header") -%>


<h1>Compose</h1>

<form action="/compose" method="post">

<div class="mb-3"> 
<label class="form-label" for="postTitle">Title</label>
<input class="form-control" type="text" name="postTitle" id="postTitle" autocomplete="off">
</div> 

<div class="mb-3"> 
<label class="form-label" for="postText">Post</label>
<textarea class="form-control" cols="40" rows="5" type="text" name="postBody" id="" autocomplete="off"></textarea>
</div> 

<button class="btn btn-primary " type="submit" name="button">Publish</button>

</form>
<%- include("partials/footer") -%>

